.footer {
  background-color: #111111;
  color: #c89b3c;
  padding: 50px;
  text-align: center;
  align-items: center;
  border-top: 2px solid #5b5a56;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Add any other custom styles as desired */
.copyright {
  background-color: #111111;
}
