.footer {
  background-color: #785a28; /* Replace with your desired hex color */
  color: white;
  padding: 40px;
  text-align: center;
  margin-top: auto; /* Add this property to push the footer to the bottom */
}

.icon {
  margin-right: 10px; /* Adjust as needed */
}

/* Add any other custom styles as desired */
.copyright {
  background-color: #785a28;
}
