.footer {
  background-color: #010a13;
  color: #a09b8c;
  text-align: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Add any other custom styles as desired */
.copyright {
  background-color: #010a13;
}
