.card {
  border: 2px solid #5b5a56;
  border-radius: 5px;
  background-color: #d0a85c;
  color: #5b5a56;

  /* Add some spacing between the name and logout button */

  &:hover {
    background-color: rgb(91 90 86);
    color: #ffff;
  }
}
