.card {
  border: 2px solid #d0a85c;
  border-radius: 5px;
  color: #a09b8c;

  /* Add some spacing between the name and logout button */

  &:hover {
    background-color: rgb(91 90 86);
    color: #ffff;
  }
}
