.ul {
  list-style-type: none;
  margin-top: 100px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0rem; /* Align to the right side of the screen */
  bottom: auto;
  border-radius: 5px;
  border: 2px solid #d0a85c;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  overflow-y: auto;
  background: linear-gradient(90deg, #111111, #0f2840);

  li a {
    display: flex;
    color: #a09b8c;
    padding: 8px 16px;
    padding-top: 20px;
    background: linear-gradient(90deg, #111111, #0f2840);
  }

  li a:hover {
    background-color: #a09b8c;
    color: #785a28;
  }
}
