.button {
  background-color: #c89b3c;
  color: #cdfafa;
}

.h1 {
  color: #a09b8c;
  font-size: xx-large;
  text-align: center;
  margin-top: 100px;
}

.container {
  text-align: center;
  justify-content: center;
}

.p {
  color: #a09b8c;
  text-align: center;
  font-size: xx-large;
}
