.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.buttons {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  margin-right: 20px;
  color: #c89b3c;
  text-align: center;
}

.name {
  color: #c89b3c;
}

.content {
  flex: 1;
  padding: 20px;
}
