.cardContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  margin: 10px;
  border: 2px solid #a09b8c;
  background-color: #111111;
  color: #d0a85c;
  padding: 50px;
}

.h1 {
  text-align: center;
  color: #c89b3c;
}

.h3 {
  color: #c89b3c;
  background-color: #111111;
}

.p {
  color: #c89b3c;
  background-color: #111111;
}
.list {
  display: block;
  text-align: center;
  color: #c89b3c;
}

.textContainer {
  display: block;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto; /* Set auto for horizontal margin to center the container */
  border: 2px solid #a09b8c;
  background-color: #111111;
  color: #d0a85c;
  padding: 30px;
  width: 500px; /* Adjust the width as needed */
}

.introText {
  background-color: #111111;
  margin-bottom: 20px;
  line-height: 1.5;
}
