.button {
  border: 1px solid;
  cursor: pointer;
  color: #32281e;
  background-color: #c89b3c;
  border-radius: 5px;

  &:hover {
    background-color: #0a1428;
    color: white;
  }
}

.error {
  background-color: rgb(242, 77, 77);
}

.label {
  color: #c89b3c;
  font-size: xx-large;
}

.form {
  text-align: center;
}

.input {
  background-color: antiquewhite;
}
