.card {
  background-color: #111111;
  border-radius: 5px;
  border: 2px solid #d0a85c;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .button {
    border: 1px solid #d0a85c;
    background-color: #5b5a56;
    &:hover {
      background-color: rgb(160 155 140);
      color: white;
    }
  }
}

.error {
  background-color: rgb(242, 77, 77);
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #111111;
  color: #a09b8c;
}

.form {
  text-align: center;
  background-color: #111111;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #785a28;
  border-radius: 2px;
  margin-bottom: 16px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #ffff;
}
