.card {
  background-color: #32281e;
  border-radius: 2px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .button {
    border: 1px solid #785a28;
    background-color: #785a28;
    color: #32281e;

    &:hover {
      background-color: rgb(0, 31, 57);
      color: white;
    }
  }
}

.error {
  background-color: rgb(242, 77, 77);
}

.label {
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #32281e;
  color: #785a28;
}

.form {
  text-align: center;
  background-color: #32281e;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #785a28;
  border-radius: 2px;
  margin-bottom: 16px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #ffff;
}
